{:tasks {"c5398650-2841-4755-be13-65528bd6f657" {:lane "todo", :title "carry the team", :note "gotta get them apples", :team "sturgeon"}}, :help {:structure "title='title text' note='details text'", :teams {:pipes "something to do with a Mushroom Kingdom", :stugeon "kinda fishy", :stitch "my favorite movie"}, :lanes {:todo "upcoming work", :doing "work im doing", :done "work I have done"}}}
