{:tasks {"b4adf2d0-253c-47fa-aca4-dedc8e0553ee" {:lane "todo", :title "Please Fix", :note "Found a bug on line 63!", :team "pipes"}, "1f583965-3757-4d95-a166-0e4b7986bde2" {:lane "todo", :title "HELP", :note "FIX THAT BIG!", :team "pipes"}, "50575fc2-c33c-4ef1-ac6b-660051be5bc0" {:lane "todo", :title "look at those pipes go", :note "now my internet is clogged", :team "sturgeon"}}, :help {:structure "title='title text' note='details text'", :teams {:pipes "something to do with a Mushroom Kingdom", :stugeon "kinda fishy", :stitch "my favorite movie"}, :lanes {:todo "upcoming work", :doing "work im doing", :done "work I have done"}}}
